{
  "presets": [
    [
			"env",
			{ "targets": { "node": "current" } }
    ]
  ],
  "plugins": [
    [
      "transform-object-rest-spread",
      { "useBuiltIns": true }
    ],
    [
      "module-resolver", {
        "root": ["./src"],
        "alias": { "@": "./src" }
      }
    ]
  ]
}